{% extends 'base.html' %}

{% load i18n static widget_tweaks %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block extra_heads %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

<style>
  input[type="password"] {
    width: 250px;
  }

  .alert {
    display: none;
  }

  .requirements {
    list-style-type: none;
  }

  .wrong .fa-check {
    display: none;
  }

  .good .fa-times {
    display: none;
  }

</style>
{% endblock extra_heads %}

{% block title %}{% translate 'Password change' %}{% endblock title %}
{% block body_class %}login-page{% endblock body_class %}

{% block content %}{% endblock content %}

{% block header_content %}

<!--Intro Section-->
<section dir="ltr" class="intro-2 rainy-ashville-gradient text-left">
  <div class="mask d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12 mx-auto">

          <!--Form with header-->
          <div class="card rainy-ashville-gradient">
            <div class="card-body">

              <!--Header-->
              <div {% if LANGUAGE_BIDI %} dir="rtl" {% endif %} class="form-header rounded
                accordion-gradient-bcg">
                <h3>
                  <i class="fas fa-user mt-1 mb-2"></i>
                  {% translate 'Password change' %}
                </h3>
              </div>

              <div {% if LANGUAGE_BIDI %} dir="rtl" {% endif %} class="
                    {% if LANGUAGE_BIDI %}
                    text-right {% endif %}">
                {% if form.errors %}
                <p class="errornote text-danger">
                  {% if form.errors.items|length == 1 %}
                  {% translate "Please correct the error below." %}
                  {% else %}
                  {% translate "Please correct the errors below." %}
                  {% endif %}
                </p>
                {% endif %}

              </div>
              <!--Body-->

              <form method="post">
                {% csrf_token %}
                <div {% if LANGUAGE_BIDI %} dir="rtl" {% endif %}
                     class="
                    {% if LANGUAGE_BIDI %}
                    text-right {% endif %}"
                     style="position:relative;">

                  <p class="">
                    {% blocktranslate trimmed %}
                    Please enter your old
                    password,
                    for security's sake, and then
                    enter your new password
                    twice so we can verify you
                    typed it in correctly.
                    {% endblocktranslate %}
                  </p>

                  <fieldset class="module aligned wide">

                    <div class=" mt-3">
                      {{ form.old_password.errors }}
                      {{ form.old_password.label_tag }}
                      {{ form.old_password|add_class:"form-control validate mb-2" }}
                    </div>

                    <div class=" mt-1">
                      {{ form.new_password1.errors }}
                      {{ form.new_password1.label_tag }}
                      {{ form.new_password1|add_class:"form-control validate mb-2" }}
                    </div>

                    <div {% if LANGUAGE_BIDI %} dir="rtl" {% endif %}
                         class="alert alert-warning
                      password-alert
                      {% if LANGUAGE_BIDI %}
                      text-right {% endif %}" role="alert">
                      <ul>
                        <li class="requirements">
                          <i class="fas fa-exclamation-triangle"></i>
                          {% blocktranslate trimmed %}
                          Your password can’t be
                          too
                          similar to your other
                          personal information.
                          {% endblocktranslate %}
                        </li>
                        <li class="requirements leng">
                          <i class="fas fa-check green-text"></i>
                          <i class="fas fa-times red-text"></i>
                          {% translate "Your password must contain at least 8 characters." %}
                        </li>
                        <li class="requirements
                          special-char">
                          <i class="fas fa-check green-text"></i>
                          <i class="fas fa-times red-text"></i>
                          {% translate "Your password can’t be a commonly used password." %}
                        </li>
                        <li class="requirements big-letter">
                          <i class="fas fa-check green-text"></i>
                          <i class="fas fa-times red-text"></i>
                          {% translate "Your password must have at least 1 capital character." %}
                        </li>
                        <li class="requirements num">
                          <i class="fas fa-check green-text"></i>
                          <i class="fas fa-times red-text"></i>
                          {% translate "Your password must have at least 1 number." %}
                        </li>
                        <li class="requirements special-char">
                          <i class="fas fa-check green-text"></i>
                          <i class="fas fa-times red-text"></i>
                          {% translate "Your password must have at least 1 special char." %}
                        </li>
                      </ul>
                    </div>

                    <div {% if LANGUAGE_BIDI %} dir="rtl" {% endif %}
                         class="alert alert-warning
                      password-alert2
                      {% if LANGUAGE_BIDI %}
                      text-right {% endif %}" role="alert">
                      <ul>
                        <li class="requirements special-char">
                          <i class="fas fa-times red-text"></i>
                          {% translate "Password doesn't match." %}
                        </li>
                      </ul>
                    </div>

                    <div class=" mt-1">
                      {{ form.new_password2.errors }}
                      {{ form.new_password2.label_tag }}
                      {{ form.new_password2|add_class:"form-control validate mb-2" }}
                    </div>

                  </fieldset>

                  <div class="text-center mb-1">
                    <input type="submit"
                           value="{% translate 'Change my password' %}"
                           class="btn
                      accordion-gradient-bcg
                      text-white
                      btn-lg">
                  </div>

                </div>
              </form>
            </div>
            <!--/Form with header-->
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock header_content %}

{% block footer %}
<script>
  $(function () {
    var $password1 =
      $("#id_new_password1");
    var $password2 =
      $("#id_new_password2");
    var $passwordAlert = $(".password-alert");
    var $requirements = $(".requirements");
    var $passwordAlert2 = $(
      ".password-alert2");
    var $requirements2 = $(".requirements2");
    var leng, bigLetter, num, specialChar;
    var $leng = $(".leng");
    var $bigLetter = $(".big-letter");
    var $num = $(".num");
    var $specialChar = $(".special-char");
    var specialChars =
      "!@#$%^&*()-_=+[{]}\\|;:'\",<.>/?`~";
    var numbers = "0123456789";

    $requirements.addClass("wrong");
    $password1.on("focus",
      function () {
        $passwordAlert.show();
      });

    $password1.on("input blur", function (e) {
      var el = $(this);
      var val = el.val();
      $passwordAlert.show();

      if (val.length < 8) {
        leng = false;
      } else if (val.length > 7) {
        leng = true;
      }


      if (val.toLowerCase() == val) {
        bigLetter = false;
      } else {
        bigLetter = true;
      }

      num = false;
      for (var i = 0; i < val
        .length; i++) {
        for (var j = 0; j < numbers
          .length; j++) {
          if (val[i] == numbers[j]) {
            num = true;
          }
        }
      }
      specialChar = false;
      for (var i = 0; i < val
        .length; i++) {
        for (var j = 0; j < specialChars
          .length; j++) {
          if (val[i] == specialChars[j]) {
            specialChar = true;
          }
        }
      }

      if (leng == true && bigLetter ==
        true && num == true &&
        specialChar == true) {
        $(this).addClass("valid")
          .removeClass("invalid");
        $requirements.removeClass("wrong")
          .addClass("good");
        $passwordAlert.removeClass(
          "alert-warning").addClass(
          "alert-success");
      } else {
        $(this).addClass("invalid")
          .removeClass("valid");
        $passwordAlert.removeClass(
          "alert-success").addClass(
          "alert-warning");
        if (leng == false) {
          $leng.addClass("wrong")
            .removeClass("good");
        } else {
          $leng.addClass("good")
            .removeClass("wrong");
        }
        if (bigLetter == false) {
          $bigLetter.addClass("wrong")
            .removeClass("good");
        } else {
          $bigLetter.addClass("good")
            .removeClass("wrong");
        }
        if (num == false) {
          $num.addClass("wrong")
            .removeClass("good");
        } else {
          $num.addClass("good")
            .removeClass("wrong");
        }
        if (specialChar == false) {
          $specialChar.addClass("wrong")
            .removeClass("good");
        } else {
          $specialChar.addClass("good")
            .removeClass("wrong");
        }
      }
      if (e.type == "blur") {
        $passwordAlert.hide();
      }
    });

    $password2.on("input blur",
      function () {
        if (
          $(this).val() !== $password1.val()
        ) {
          $(this).addClass("invalid")
            .removeClass("valid");
          $passwordAlert2.show();
        } else if (!$(this).val()) {
          $(this).addClass("invalid")
            .removeClass("valid");
        } else {
          $(this).addClass("valid")
            .removeClass("invalid");
          $passwordAlert2.hide();
        }
      });
  });

</script>
{% endblock footer %}
