{% load i18n %}
<!-- Intro -->
<section>
  <div class="container-fluid smooth-scroll pb-5 pt-5">
    <h1
        class="text-center text-uppercase dark-grey-text pb-3 mt-5 pt-5">
      {% if not LANGUAGE_BIDI %}
      <strong>
        {{company.name}}'S
      </strong>
      {% endif %}
      {% translate "Blog" %}
      {% if LANGUAGE_BIDI %}
      <strong>
        {{company.name}}
      </strong>
      {% endif %}
    </h1>

    <p class="grey-text text-center mb-4 text-uppercase spacing">
      {% translate "Welcome on our blog." %}
    </p>

    <!-- Grid row -->
    <div class="row flex-center">
      <!-- Grid column -->
      <div class="col-md-10 col-xl-5 text-center">
        <p class="grey-text text-center">
          <em>
            {% blocktranslate trimmed %}
            In this blog, we publish news related
            to aviation and air traffic control.
            Follow aviation innovations,
            developments, changes and events from
            our blog.
            Stay up to date with the latest
            aviation events in Iran and the world.
            {% endblocktranslate %}
          </em>
        </p>

        <a href="#list-start" class="btn btn-rounded mt-5
                                    accordion-gradient-bcg
                                    text-white waves-effect
                                    waves-light">
          <strong>
            {% translate "Read more" %}
          </strong>
        </a>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</section>
<!-- Intro -->
