{% extends 'errors/errors_base.html' %}

{% load i18n %}

{% block title %}
{% translate 'Forbidden' %}
{% endblock title %}

{% block error_header %}
{% trans "Error 403" %}
{% endblock error_header %}

{% block error_description %}
<i class="fas fa-exclamation-triangle orange-ic"
   aria-hidden="true"></i>

{% if reason or exception %}
{% firstof reason exception as exception %}

{% blocktranslate trimmed %}
This request is
<strong>Forbidden</strong>
because:
<p class="text-center mt-3 wow fadeIn" data-wow-delay="0.3s">
  {{ exception }}
</p>
{% endblocktranslate %}

{% else %}

{% blocktranslate trimmed %}
This request is
<strong>Forbidden</strong>
{% endblocktranslate %}

{% endif %}
{% endblock error_description %}
