{% load i18n %}
{% with page_obj.paginator.num_pages as total_pages and page_obj.number as current_page %}
{% if total_pages > 1 %}
<nav aria-label="Page navigation example">
	<ul
		class="pagination pg-blue-grey pagination-circle">

		<li class="page-item disabled">
			<p class="page-link">
				{% translate "Total pages" %}:
				{{ total_pages }}
			</p>
		</li>

		{% if current_page > 3 %}
		<li class="page-item">
			<a class="page-link" href="?page=1">
				First
			</a>
		</li>
		{% endif %}

		{% for counter in page_obj.paginator.page_range %}
		{% if forloop.first and counter < current_page|add:-2 %}
		<li class="page-item disabled">
			<a class="page-link" href="javascript:{}">
				...
			</a>
		</li>
		{% elif counter == current_page|add:-1 or counter == current_page|add:-2 %}
		<li class="page-item">
			<a class="page-link"
				href="?page={{ counter }}">
				{{ counter }}
			</a>
		</li>
		{% elif counter == current_page and total_pages != 1 %}
		<li class="page-item disabled active">
			<a class="page-link"
				href="javascript:{}">{{ counter }}</a>
		</li>
		{% elif current_page < counter and counter <= current_page|add:2 %}
		<li class="page-item">
			<a class="page-link"
				href="?page={{ counter }}">
				{{ counter }}
			</a>
		</li>
		{% elif counter > current_page|add:2 and forloop.last %}
		<li class="page-item disabled">
			<a class="page-link" href="javascript:{}">
				...
			</a>
		</li>
		{% endif %}
		{% endfor %}

		{% if page_obj.has_next and current_page|add:2 < total_pages %}
		<li class="page-item">
			<a class="page-link"
				href="?page={{ total_pages }}">
				Last
			</a>
		</li>
		{% endif %}
	</ul>
</nav>
{% endif %}
{% endwith %}
